@import "../../styles/colors.scss";
@import "../../styles/variables.scss";

.header-container {
    background-color: $grey-background;
    padding: 1em $paddingLeftRight24;
    display: flex;
    align-items: center;

    a {
        color: $base-text-color;
        opacity: 0.8;
    }

    h2 {
        font-size: 1.25em;
        flex-grow: 1;
    }

    nav {
        display: flex;
        align-items: center;

        a, span.logout {
            display: inline-block;
            margin-left: 1em;
            cursor: pointer;
        }
        span {
            
            
        }
    }
}
